*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sans-Serif;
}
section {
  width: 100%;
  height: 100vh;
  background: url(../img/bg.jpg);


}

section header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

section header .logo {
  font-size: 30px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin: 15px 0;
}

section header .logo span {
  color: red;
}

section header ul{
  list-style: none;
}

section header ul li{
  display: inline-block;
  margin: 5px 5px;
  padding: 5px 20px;
}

section header ul li a{
  color: black;
  text-decoration: none;
}

section header ul li a:hover{
  color: red;
}

section header p {
  cursor: pointer;
  padding: 10px 25px;
  border: 1px solid pink;
}

section header p:hover{
  color: white;
  background: black;
}

section .texts h1{
  position: absolute;
  top: 30%;
  left: 4%;
  font-size: 100px;
  color: black;
}

section .texts h1 span{
  color: red;
}

section .texts p {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 4%;
  line-height: 26px;
  text-align: justify;
}



section .btn{
  position: relative;
  top: 60%;
  left: 38px;
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

section .btn .catalog{
  padding: 10px 25px;
  background: none;
  border: 2px solid red;
  cursor: pointer;
}

section .btn p {
  padding: 10px 25px;
  background: none;
  border: 2px solid red;
  cursor: pointer;
  
}

section .btn p:hover,
section .btn .catalog:hover{
  background: red;
  color: white;
}

.about {
  width:100%;
  height: 100vh;
  padding: 50px;
}

.about .box {
  width: 100%;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .box .card {
  height: auto;
  padding: 5px 10px;
  margin: 0 15px;
  background: none;
  border: 1px solid black;
  cursor: pointer;
  z-index: 1;
  transition: 0.3s;
}

.about .box .card:hover {
  box-shadow: 3px 5px 20px rgba(0,0,0,0.3);
  transform: scale(1.1);
  border-radius: 5px;
  background: gainsboro;
}

.about .box .card img {
  width: 150px;
} 

.about hr {
  height: 2px;
  background: red;
  border-radius: 5px;
  margin: 30px 110px;
}

.about .Bag h1,
.about .waistbag h1{
  font-size: 70px;
  display: grid;
  
  justify-content: center;
  align-items: center;
  margin: 35px 0;
}

.about .Bag p,
.about .waistbag p{
  text-align: center;
  margin: 35px 0;
  color: gray;
  font-size: 25px;
}

.about .bag_box,
.about .waistbag_box{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.about .bag_box .bag_card,
.about .waistbag_box .waistbag_card{
  background: #9d9d9d;
  width: 350px;
  padding: 25px 25px;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
}

.about .bag_box .bag_card:hover,
.about .waistbag_box .waistbag_card:hover{
  box-shadow: rgba(0,0,0,0.6);
}

.about .Bag .bag_box img,
.about .waistbag .waistbag_box img{
  width: 250px;
  cursor: pointer;
  transition: 0.3s;
}

.about .Bag .bag_box img:hover,
.about .waistbag .waistbag_box img:hover{
  transform: scale(1.1);
} 

.about .bag_box .bag_card h1,
.about .waistbag_box .waistbag_card h1{
  font-size: 35px;
  color: gainsboro;
  margin: 15px 0;
}

.about .bag_box .bag_card p,
.about .waistbag_box .waistbag_card p{
  color: white;
  margin: 25px 0;
  font-size: 17px;
}

.about .bag_box .bag_card .btn,
.about .waistbag_box .waistbag_card .btn{
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  background: red;
}

/*footer*/

footer {
  background-color: #4cd5d5de;
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 50rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a{
  color: white;
  margin: 1rem;
  
}

footer .social a:hover,
footer .links a:hover{
  color: black;
  transform: rotate(0,0,1 360deg);
}

footer .links {
  margin-bottom: 1.2rem;
}

footer .links a{
  color: white;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: black;
  font-weight: bold;
}

